// colors
$main-blue: #5775a9;
$default-white: #ffffff;
$default-black: #000000;
$default-gray: #d9d9d9;
$dark-gray: #a1a6b3;
$light-gray: #d5d5d5;
$main-red: #fc422d;

// break-points
$xs-small: 320px;
$xs-medium: 375px;
$xs: 430px;
$tablet-small: 744px;
$tablet-medium: 834px;
$tablet-large: 1024px;
$md: 1280px;
$lg: 1440px;
$xlg: 1920px;

//z-indexes
$z-index-upper: 1;

//transition
$default-transition: 0.2s;

//fonts
$font-family-inter: 'Inter', 'Roboto', Arial, sans-serif !default;

//mixins
@mixin padding-base {
  @media (max-width: $tablet-small - 1) {
    padding: 0 9px;
  }

  @media (max-width: $xs - 1) {
    padding: 0 26px;
  }

  @media (max-width: $xs-medium - 1) {
    padding: 0 22px;
  }
}

@mixin max-width {
  max-width: 1386px;
  margin: 0 auto;

  @media (max-width: $xlg - 1) {
    max-width: 1290px;
  }

  @media (max-width: $lg - 1) {
    max-width: 1194px;
  }

  @media (max-width: $md - 1) {
    max-width: 906px;
  }

  @media (max-width: $tablet-large - 1) {
    max-width: 816px;
  }

  @media (max-width: $tablet-medium - 1) {
    max-width: 658px;
  }

  @media (max-width: $tablet-small - 1) {
    max-width: none;
  }
}
