// colors
$main-blue: #5775a9;
$default-white: #ffffff;
$default-black: #000000;
$default-gray: #d9d9d9;
$dark-gray: #a1a6b3;
$light-gray: #d5d5d5;
$main-red: #fc422d;

// break-points
$xs-min: 320px;
$xs-min-avg: 345px;
$xs-avg: 360px;
$xs-mid: 375px;
$xs-spec: 414px;
$xs: 480px;
$xs-large: 520px;
$sm: 768px;
$tablet-horizontal: 1024px;
$md: 1280px;
$lg: 1366px;
$lg-large: 1440px;
$xlg: 1600px;
$xlg-max: 1920px;

//z-indexes
$z-index-upper: 1;

//transition
$default-transition: 0.2s;

//fonts
$font-family-inter: 'Inter', 'Roboto', Arial, sans-serif !default;

//mixins
@mixin padding-base {
  padding: 0 14%;
}

@mixin max-width {
  max-width: 1386px;
  margin: 0 auto;
}
