.label {
  position: absolute;
  color: $default-white;
  padding: 4px 16px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  &.top {
    top: 8px;
  }

  &.left {
    left: 8px;
  }

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom {
    bottom: 8px;
  }

  &.right {
    right: 8px;
  }
}

@media (max-width: $xlg - 1) {
  .label {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: $tablet-large - 1) {
  .label {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: $tablet-medium - 1) {
  .label {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: $xs - 1) {
  .label {
    font-size: 10px;
    line-height: 12px;
  }
}
